body {
    background-color: green;
}

.title {
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.button {
    padding-top: 30px;
    padding-bottom: 20px;
    height: 50px;
    margin-left: 34%;
}

.button #help_button {
    margin-left: 3%;
    margin-right: 3%;
}

.buttony{
    width: 14%;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
    background-color: grey;
    border-width: 0;
    float: left;
}

.buttony:hover {
    color: red;
    background-color: black;
}

.rules {
    clear: both;
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.board{
    text-align: center;
}

.myTable {
    margin: 0 auto;
}

td {
    width: 112px;
    height: 20px;
    text-align: center;
    margin: 0;
}

.tower_height{
    text-align: center;
    visibility: hidden;
}

.tower_height div{
    padding-bottom: 20px;
    visibility: visible;
}

.tower_height button{
    background-color: grey;
    width: 40px;
    height: 40px;
    border-width: 0px;
    visibility: visible;
}

.tower_height button:hover {
    color: red;
    background-color: black;
}

.copyright {
    text-align: center;
    font-size: smaller;
    padding-top: 10px;
}

td button {
    width: 40px;
    background-color: grey;
    border-color: grey;
}

td button:hover {
    color: red;
    background-color: black;
    border-color: black;
}

.moves_counter input{
    width: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: grey;
    border-color: grey;
    color: black;
}

.moves_counter{
    text-align: center;
}
